<div id="container" class="flex-wrap max-w-md items-center justify-center m-auto">
    <div>
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400">{{ .message }}
        </p>
    </div>
    <a hx-get="/matchmaking/ranked" hx-target="#main"
        class="flex flex-col w-auto md:min-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 m-16 md:mx-4">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            Ranked
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
            Do you have what it takes to make it to the top? 👑
        </p>
    </a>

    <a hx-get="/matchmaking/casual" hx-target="#main"
        class="flex flex-col w-auto md:min-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 m-16 md:mx-4">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            Casual
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
            Play with no stakes and just have a good time. 🎲
        </p>
    </a>
    <a href="#"
        class="flex flex-col w-auto md:min-w-sm p-6 bg-gray border border-gray-200 rounded-lg shadow-sm dark:bg-gray-900 dark:border-gray-700 m-16 md:mx-4">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            Tournament
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
            Pay to play, Play to win a cash prize 💵
            <br />
            Coming soon...
        </p>
    </a>
</div>
