<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/assets/output.css" rel="stylesheet" />
        <script src="/assets/htmx.min.js"></script>
    </head>
    <body class="bg-gray-50 dark:bg-gray-900">
        <div id="main">
            <div class="flex flex-col items-center justify-center h-60">
                <h1
                    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
                >
                    Roshamble
                </h1>
                <p
                    class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
                >
                    Where the world plays Rock, Paper, Scissors.
                </p>
                <div>
                    <button
                        hx-get="/auth/login"
                        hx-target="#main"
                        hx-push-url="true"
                        type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    >
                        Log In
                    </button>
                    <button
                        hx-get="/auth/register"
                        hx-target="#main"
                        hx-push-url="true"
                        type="button"
                        class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                    >
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
        <script src="/assets/flowbite.min.js"></script>
    </body>
</html>
